{% extends "base.html" %}

{% block page_content %}

    <h1>List By Reporter</h1>

    <br/>

    <hr/>

    <h4>Showing {{ len(users) }} user(s):</h4>

    <br/>

    <div class="table-responsive">

        <table class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>Jira User</th>
                    <th>Total Worklog</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ format_seconds_to_days(user[1]) }}</td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}
