{% extends "base.html" %}

{% block page_content %}
    <h1>List By Issue</h1>

    <br/>

    <a href="#" data-toggle="modal" data-target="#addIssueModal">Click here to add a new issue to be monitored</a>

    <br/>

    <hr/>

    <h4>Monitoring {{ len(issues) }} issue(s):</h4>

    <br/>

    <div>

        <table class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Issue ID</th>
                    <th>Summary</th>
                    <th>Status</th>
                    <th>Worklog</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for issue in issues %}
                    <tr data-toggle="collapse" data-target="#accordion{{ issue.id }}" class="accordion-toggle">
                        <td>
                            <span>
                                <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button>
                            </span>
                        </td>
                        <td>
                            {{ issue.issue_id }}
                        </td>
                        <td>
                            {{ issue.summary }}
                        </td>
                        <td>
                            {{ issue.status }}
                        </td>
                        <td>
                            {{ format_seconds_to_days(issue.overall_worklog) }}
                        </td>
                        <td>
                            {{ moment(convert_jira_datetime_to_datetime(issue.updated)).fromNow() }}
                        </td>
                        <td>
                            <ul class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-cog"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Delete</a>
                                    </li>
                                </ul>
                            </ul>
                        </td>
                    </tr>
                    <!-- Hidden row containing profile information -->
                    <tr class="hiddenRow">
                        <td colspan="7">
                            <div id="accordion{{ issue.id }}" class="accordian-body collapse">
                                {% if len(issue.worklogs) > 0 %}
                                    {% for worklog in issue.worklogs %}
                                        <ul class="list-group">
                                            <li>
                                                <ul class="list-inline">
                                                    <li>
                                                        {{ worklog.user }}
                                                    </li>
                                                    <li>
                                                        {{ format_seconds_to_days(worklog.time_logged_seconds) }}
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    {% endfor %}
                                {% else %}
                                    No work has been logged on the issue yet, or issue has not been refreshed.
                                {% endif %}
                            </div>
                        </td>
                    </tr>

                {% endfor %}

            </tbody>

        </table>

        <!-- Modal -->
        <div id="addIssueModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Additional Issues to Monitor</h4>
                    </div>

                    <form id='add-issue-form' action='{{ url_for("stats_view.post_add_issue_for_tracking") }}' method='POST' role='form'>
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="new_issue">New Issue ID:</label>
                            <input type="text" class="form-control" id="new-issue-id" name="new_issue_id">
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default" xdata-dismiss="modal">Add</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery_add_form_validation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/auto_refresh.js') }}"></script>
{% endblock %}
