{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="page-header">
        <h1>Login</h1>
    </div>

    {{ wtf.quick_form(form) }}

{% endblock %}
