{% extends "bootstrap/base.html" %}

{% block title %}
    Jira Me! Who worked on which issue? For how long?
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

<!--
    Navigation bar block. Note the different options available to authenicated users vs. unauthenticated ones.
-->
{% block navbar %}
    <nav class="navbar navbar-default xnavbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Jira Me!</a>
            </div>
            <div>
                {% if current_user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ url_for('stats_view.get_issues_being_tracked') }}">List By Issue</a></li>
                        <li><a href="{{ url_for('stats_view.get_worklog_reporting_users') }}">List By Reporter</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ current_user.name }}'s Profile
                            </a>
                            <ul class="dropdown-menu">
                               <li><a href="#">{{ current_user.name }}</a></li>
                               <li><a href="#">Edit...</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for('auth_view.get_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('auth_view.get_signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="{{ url_for('auth_view.get_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <!--
            Common flash messages display at the top of the page. Multiple messages will be stacked.
        -->
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        <!--
            The following block needs to be overridden in any template inheriting from this one.
        -->
        {% block page_content %}
            <h2>Default base page content. Override page_content block to customize.</h2>
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
